.box {
    max-width: 400px
}

table, td {
    border: 1px solid black;
    width: 400px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: large;
  }

  td {
      background-color: rgb(233, 233, 134);
  }
  .activated {
      background-color: rgb(146, 146, 46);
  }

  .timer {
      background-color:rgb(141, 136, 170);
      width: 50%;
      display: inline-block;
      text-align: center;
    }
    .next {
        background-color:rgb(161, 170, 136);
        width: 49%;
        display: inline-block;
        text-align: center;
  }
  button {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 15px
  }